:root {
  // Colors
  --grey: #a7aaaf;
  --white: #ffffff;
  --hover-tab: #3a3b3c;
  --background: #18191a;
  --menu: #242526;
  --light-grey: #e4e6eb;
  --red: #e14040;
  --green: #25b770;
  --blue: #2d88ff;
  --yellow: #ffc701;
  --purple: #d14ae7;
  --orange: #f8771a;
  --light-blue: #50a7db;
  --black: #000;
  --deep-blue: #263951;

  // Default layout
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --default-layout-horizontal-spacer: 24px;
}
